<!DOCTYPE html><html><head><meta charset="utf-8"/>
<title>自学サポートアプリ JIGAKU</title>
<link rel="apple-touch-icon" href="ss.jpg"/>
<meta property="og:image" content="ss.jpg"/>

<meta name="viewport" content="initial-scale=1.0"/>
<meta name="format-detection" content="telephone=no"/>
<style>
h1 {
	color: rgb(71, 163, 57);
}
body {
	margin: 0px;
	text-align: center;
	font-family: sans-serif;
	line-height: 1.5em;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
	width: 30vh;
	vertical-align: top;
	padding: 1vh;
}
li a {
	color: gray;
}
li img {
	height: 20vh;
}
#credit {
	margin-top: 1em;
}
#credit a {
	color: gray;
}
</style>
</head>
<body>

<div id="main">
	<h1>自学サポートアプリ JIGAKU</h1>
	<ul id="list">
		${list}
	</ul>
</div>

<div id="credit">
	<div>APP: <a href="http://fukuno.jig.jp/">CC BY fukuno.jig.jp</a> (src on GitHub)</div>
	<div>LIB: <a href="">jigaku.mjs</a></div>
</div>

</body>
</html>
