<!DOCTYPE html><html><head><meta charset="utf-8"/>

<title>${title}</title>
<meta property="og:title" content="${title}"/>
<meta property="og:description" content="${series} ${target} ${type} ${title}"/>

<link rel="icon" type="image/png" href="${icon}"/>
<link rel="apple-touch-icon" href="${icon}"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:image" content="${thumbnail}"/>
<meta property="og:image" content="${thumbnail}"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>

<script type='module' src='${mjs}'></script>

</head>
</html>
